
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Review List</h2>
    <button [routerLink]="['/review-create']" class="btn btn-primary" style="margin-left: 1100px">Add Review</button>
  </div>

  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>id</th>
        <th>date</th>
        <th>likes</th>
        <th>text</th>
        <th>restaurant</th>
        <th>user</th>
        <th>rating</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let review of reviews">
        <td>{{review.id}}</td>
        <td>{{review.date}}</td>
        <td>{{review.likes}}</td>
        <td>{{review.text}}</td>
        <td>{{review.restaurant.id}} : {{review.restaurant.username}}</td>
        <td>{{review.user.id}} : {{review.user.username}}</td>
        <td>{{review.rating.id}}</td>

        <td>
          <button  [routerLink]="['/review', review.id]" class="btn btn-primary" >Details</button>
          <button  [routerLink]="['/review/update', review.id]" class="btn btn-warning" style="margin-left: 10px">Update</button>
          <button (click)="deleteReview(review.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
