.sign-up-container {
  padding: 30px;
  width: 60%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px 0 20px 0;
}

.sign-up {
  display: flex;
  justify-content: center;
}
.sign-up-form {
  width: 100%;
  margin: auto;
  max-width: fit-content;
}
