.cuisine-chip-container-selected {
  height: 2rem;
  align-items: center;
  background: #8de4af;
  border-radius: 5rem;
  display: inline-flex;
  display: -ms-inline-flexbox;
  -ms-flex-align: center;
  font-size: 90%;
  font-weight: bold;
  line-height: 0.8rem;
  margin: 0.1rem;
  max-width: 320px;
  overflow: hidden;
  padding: 0.3rem 0.6rem;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
}

.cuisine-chip-container-default {
  height: 2rem;
  align-items: center;
  background: #e8e9e8;
  border-radius: 5rem;
  display: inline-flex;
  display: -ms-inline-flexbox;
  -ms-flex-align: center;
  font-size: 90%;
  line-height: 0.8rem;
  margin: 0.1rem;
  max-width: 320px;
  overflow: hidden;
  padding: 0.3rem 0.6rem;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
}
