
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Menu List</h2>
  </div>

  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>date</th>
          <th>likes</th>
          <th>text</th>
          <th>restaurant</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let menu of menus">
          <td>{{menu.id}}</td>
          <td>{{menu.date}}</td>
          <td>{{menu.likes}}</td>
          <td>{{menu.text}}</td>
          <td>{{menu.restaurant.id}} : {{menu.restaurant.username}}</td>
          <td>
            <button  [routerLink]="['/menu', menu.id]" class="btn btn-primary" style="margin-left: 10px">Details</button>
            <button  [routerLink]="['/menu', menu.id]" class="btn btn-warning" style="margin-left: 10px">Update</button>
            <button (click)="deleteMenu(menu.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
