
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>User List</h2>
      <button [routerLink]="['/user-create']" class="btn btn-primary" style="margin-left: 1100px">Add User</button>
    </div>

    <div class="panel-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>id</th>
          <th>username</th>
          <th>email</th>
          <th>role</th>
          <th>cuisines</th>
          <th>followers</th>
          <th>following users</th>
          <th>following restaurants</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.role}}</td>
          <td>
            <h6 *ngFor="let cuisine of user.cuisines">{{cuisine.id}} : {{cuisine.name}}</h6>
          </td>
          <td>
            <h6 *ngFor="let follower of user.followers">{{follower.id}} : {{follower.username}}</h6>
          </td>
          <td>
            <h6 *ngFor="let followingUser of user.following">{{followingUser.id}} : {{followingUser.username}}</h6>
          </td>
          <td>
            <h6 *ngFor="let followingRestaurant of user.followingRestaurant">{{followingRestaurant.id}} : {{followingRestaurant.username}}</h6>
          </td>
          <td>
            <button [routerLink]="['/user', user.id]" class="btn btn-primary" >Details</button>
            <button [routerLink]="['/user/update', user.id]" class="btn btn-warning" style="margin-left: 10px">Update</button>
            <button (click)="deleteUser(user.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
