.profile-data {
  display: flex;
  margin-top: 20px;
}
.profile-data-item {
  margin-right: 30px;
}
.profile-data-cover {
  padding: 30px;
  width: 97%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px 0 20px 0;
}
.profile-data-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.profile-name {
  margin-bottom: 20px;
  margin-right: 5rem;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}
.number {
  font-size: 1.2rem;
  font-weight: 600;
  color: #002727;
}
.profile-information-card-restaurant-rating {
  position: absolute;
  right: 0px;
}
