  <div class="sidebar-sticky" *ngIf="currentUser">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/dashboard">
          <span data-feather="home"></span>
          Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users">
          <span data-feather="file"></span>
          Users
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/restaurants">
          <span data-feather="shopping-cart"></span>
          Restaurants
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reviews">
          <span data-feather="users" ></span>
          Reviews
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/recipes">
          <span data-feather="bar-chart-2" ></span>
          Recipes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ratings">
          <span data-feather="layers" ></span>
          Ratings
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/menus">
          <span data-feather="layers" ></span>
          Menus
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/donations">
          <span data-feather="layers"></span>
          Donations
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cuisines">
          <span data-feather="layers" ></span>
          Cuisines
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/comments">
          <span data-feather="layers" ></span>
          Comments
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Saved reports</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Current month
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Last quarter
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Social engagement
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          Year-end sale
        </a>
      </li>
    </ul>
  </div>
